.box{
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  width: 90%;
}
.frame{
  border: #606060 solid 0.1px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 40px;
}
.first{
  grid-column: 1/2;
  grid-row: 1/2;
}
.second{
  grid-column: 2/3;
  grid-row: 1/2;
}
.third{
  grid-column: 3/4;
  grid-row: 1/2;
}
.try {
  border: #333 solid 0.1px;
  height: 40px;
  padding-left: 0.4em;
  padding-right: 0.4em;
}
.total{
  grid-column: 3/4;
  grid-row: 2/3;
  padding: 0.3em 0.3em 0.3em 1.1em;
}
.totalScore{
  padding-left: 1.8em;
  padding-top: 2em;
}