<input type="submit" value="Clear History" (click)="clearHistory()">
  <h1>History</h1>
  <hr>
  <div *ngFor="let game of historyOfGames">
  <div class="box">
      <div *ngFor="let frame of game['data']" class="frame">
        <div class="first">
          <div class="try">
            <p *ngIf="frame.first !== 0"> {{frame.first}} </p>
          </div>
        </div>
        <div class="second">
          <div class="try">
            <p  *ngIf="frame.second !== 0"> {{frame.second}} </p>
          </div>
        </div>
        <div *ngIf="frame.third" class="third">
          <div class="try">
            <p  *ngIf="frame.third !== 0"> {{frame.second}} </p>
          </div>
        </div>
        <div class="total" >
          <p *ngIf="frame.total!== null"> {{frame.total}} </p>
        </div>
      </div>
    </div>
    <div class="frame totalScore"> Final Score: {{game['totalScore']}} </div>
    <br>
</div>

