<div class="wrapper">
  <div class="box">
    <div *ngFor="let frame of frames" class="frame">
      <div class="first">
        <div class="try">
          <p *ngIf="frame.first !== 0"> {{frame.first}} </p>
        </div>
      </div>
      <div class="second">
        <div class="try">
          <p  *ngIf="frame.second !== 0"> {{frame.second}} </p>
        </div>
      </div>
      <div *ngIf="frame.third" class="third">
        <div class="try">
          <p  *ngIf="frame.third !== 0"> {{frame.third}} </p>
        </div>
      </div>
      <div class="total" >
        <p *ngIf="frame.total!== null"> {{frame.total}} </p>
      </div>
    </div>
    <div class="frame totalScore"> {{totalScore}} </div>
  </div>

  <div class="box">
  <form class="container" [formGroup] ="frameForm" (ngSubmit)="calculateFrame(frameForm.value)">
          <div class="frame_submit">
            <input type="submit" class="myButton" value="Submit Round" [disabled]="!frameForm.valid">
            <input type="text" [(ngModel)]=first (change)="firstRoundPlayed($event)" formControlName="first"/>
            <input type="text"  formControlName="second"/>
            <input type="text"  *ngIf="showThirdInput" formControlName="third"/>
          </div>
  </form>
  <input type="submit" class="reset" value="Show History" (click)="toggleHistory()"/>
  <input type="submit" class="reset" value="Reset Game" (click)="resetGame()"/>
</div>
<div class="error" *ngIf="invalid">
  <p> Values entered must be numbers between 0-10. Please check and play again</p>
</div>
<ng-container *ngIf="showHistory">
  <div class="box">
    <app-end-game [fetchHistory]="showHistory"></app-end-game>
  </div>
</ng-container>
</div>
