/* You can add global styles to this file, and also import other style files */
body, html {
  font-family:'Roboto';
  background:#FFF;
  width: 100%;
}

Input[type="text"] {
  font-size:15px;
  padding:10px 10px 10px 5px;
  display:block;
  width:80px;
  border:none;
  border-bottom:1px solid #757575;
}

Input[type="submit"] {
  width: 100px;
  height: 40px;
  -webkit-appearance: none;
}